Use process.env.REACT...... for the react standard
Use import.meta.env.VITE..... for projects generated with vite

# get stripe keys 
# https://dashboard.stripe.com/test/apikeys

REACT_STRIPE_PUB_KEY = ""
VITE_STRIPE_PUB_KEY = ""
REACT_HOST="http://localhost:4100"
VITE_HOST="http://localhost:4100"